body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    border: 5px solid black;
}

.chessboard div {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.chessboard div:nth-child(even) {
    background-color: #769656;
}

.chessboard div:nth-child(odd) {
    background-color: #eeeed2;
}
